<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="LEDBlinkyDirectory" value="C:\Emulators\LEDBlinky_6_5_0_1\LEDBlinky"/>
    <!-- possible values: string, the root directory for LED Blinky exe and config files -->
    <add key="ColorsIniFile" value="Colors.ini"/>
    <!-- possible values: string, the filename for LED Blinky overwrite color file -->
    <add key="ControlsIniFile" value="Controls.ini"/>
    <!-- possible values: string, the filename for LED Blinky control label file -->
    <add key="LEDBlinkyControlsFile" value="LEDBlinkyControls.xml"/>
    <!-- possible values: string, the filename for LED Blinky control label file -->
    <add key="RomsDirectory_MAME" value="C:\Emulators\_roms\mame"/>
    <!-- possible values: string, the directory with all the mame roms -->
    <add key="extensions_MAME" value="zip; etec; eres ;sete ;aeasd"/>
    <!-- possible values: string, the file extensions you want moved seperated by a ';' semicolon.  An '*' asterisk will check all files -->
  </appSettings>
</configuration>